@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/scripts/bootstrap/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <script src="~/scripts/bootstrap/bootstrap.min.js"></script>
    <div>
        @RenderBody()
    </div>
</body>
</html>
